<!-- templates/registration/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Вход</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Отображает поля формы -->
        <button type="submit">Войти</button>
    </form>

    <p>Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрируйтесь здесь</a></p>
</body>
</html>

