<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
</head>
<body>
    <h1>Your Profile</h1>
    <p>Username: {{ user.username }}</p>  <!-- Показывает имя пользователя -->
    <p>Email: {{ user.email }}</p>  <!-- Показывает email пользователя -->

    <a href="{% url 'home' %}">Back to Home</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>